.label {
  margin-right: 5px;
  margin-bottom: 5px !important;
  display: inline-block;
}
#wrapper {
  position: relative;
}

.main-sidebar,
.left-side {
  padding-top: 70px;
}

.btn-group.pull-right.open .dropdown-menu {
  display: block !important;
}

.sidebar-menu {
  height: calc(100vh - 80px);
}

.sidebar-menu * {
  font-size: 13px;
}

body {
  font-size: 13px;
  overflow-y: hidden;
}

div[name='Datatable'] th,
div[name='Datatable'] td {
  font-size: 13px;
  vertical-align: middle;
}

div[name='Datatable'] div[name='HeaderSettings'] {
  z-index: 1;
}

div[name='Datatable'] div[name='HeaderSettings'] > button {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

div[name='Datatable'] .btn-xs {
  font-size: 10px;
}

.form-control {
  font-size: 13px;
}

.form-control:focus {
  border: 1px solid #0088cc;
  box-shadow: none;
}

.login .panel-heading {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.login .panel-body {
  border-radius: 10px;
  border: 1px solid #aaa;
  padding: 20px;
}

/***Toggle button arrange in vertical line.***/
.vue-js-switch .v-switch-label {
  /* position: static !important; */
  color: #000 !important;
}

.vue-js-switch .v-switch-label.v-left,
.vue-js-switch .v-switch-label.v-right {
  left: 70px !important;
  right: -60px !important;
  width: 150px !important;
}

.d-flex.flex-wrap {
  margin-left: 15px;
}

@media (max-width: 767px) {
  .main-header .logo {
    display: none;
  }
  .sub-section .sub-content {
    display: block !important;
  }
  .sub-section .sub-content .timecard-wrapper {
    margin: 10px !important;
  }
  .content-wrapper .dashboard-page .cards-container {
    display: block !important;
  }
  .content-wrapper .dashboard-page .cards-container .card-wrapper {
    margin: 10px !important;
  }
}
